.tweetContent {
    border-radius: 10px;
    width: 45vw;
    height: 15vh;
    left: 22.5vw;
    display: block;
}

.saveButton {
    border-radius: 10px;
    width: 5vw;
    height: 4vh;
    margin-top: 1vh;
    background-color: white;
    display: block;
    float: right;
}

.tweetComponentContainerClass{
    width: 45vw;
    height: 22vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

