.create-tweet{
    position: relative;
  width: 620px;
  display: flex;
  flex-direction: column;
    margin-top:10px;

}

.tweet-label {
    width: 500px;
}

.save-button {
    position: relative;
  width: 100px;
    margin-top:-20px;
    margin-left: 250px;
}