// colors

$primary-color: #1597E5;
$primary-color-dark: hsl(198, 90%, 19%);
$primary-color-light: #bfd7ed;
$white: #ffff;
$grey: #868f93;
$warn: #ec3c3e;

// card

$card-height: 400px;
$card-width: 600px;

// text

$body-font: Roboto, 'Helvetica Neue', sans-serif;
$text-small: 12px;

$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 15px;

$muted-color: $grey;


// button

$button-width-small: 100px;
$button-height-small: 20px;

$button-width: 200px;
$button-height: 40px;