<div class="background">
  <div class="card-header">
    <div class="col green">
      <div class="col">
        <div class="row">
        <img src="assets/images/avatar/avatar.jpg" alt="image" class="avatar" />
        <div class="row info red">
          <div class="col"><span>{{user.firstName}} {{user.lastName}}</span></div>
          <div class="col"><span>@{{user.account}}</span></div>
        </div>
      </div>
      </div>

      <div class="row blue"><span>Here is a looooong biography</span></div>
    </div>
  <hr class="line"/>
  <div class="content">
    <div class="user">
      <div class="col centered">
        <div class="row over text"><span>Tweets</span></div>
        <div class="row over text"><span>Followers</span></div>
        <div class="row over text"><span>Followings</span></div>
        <div class="row over text"><span>Likes</span></div>

      </div>
    </div>
  </div>
