.user{
  margin-top: 15px;
  margin-left: 8px;
}
.over{
  padding: 0;
  height: 20%;
  padding-top: 10px;
}

.heart{
  height: 20px;
}

.likes{
  width: 30%;
}

.space{
  padding-right: 20px;
}

.end{
  width: 100%;
}

.line{
  width: 95%;
}

.svg{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content{
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.col{
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.card-header {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.avatar{
  margin-top: 10px;
  width: 55px;
  border-radius: 60px;
  height: 55px;
}

.background{
  background-color: whitesmoke;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
}

