<div class="background">
  <div class="card-header">
    <div class="col">
      <div class="row">
        <img src="assets/images/avatar/avatar.jpg" alt="image" class="avatar" />
      </div>
      <div class="user">
        <div class="row">{{ tweet.user.firstName }}&nbsp;{{ tweet.user.lastName }}</div>
        <div class="row">@{{ tweet.user.account }}</div>
      </div>
      <div class="col end">
        <div class="row svg">
          <img src="assets/images/avatar/svg.svg" alt="image" class="avatar" />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="user">
      <div class="row over">
        <span>{{ tweet.text }}</span>
      </div>
      <div class="row over">
        <span>{{ tweet.date }}</span>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="card-header">
    <div class="col">
      <div class="row">
        <img *ngIf="isLikedPost(); else notLiked" src="assets/images/avatar/redHeart.png" alt="image" class="heart" (click)="likePost()" />
        <ng-template #notLiked>
          <img src="assets/images/avatar/heart.svg" alt="image" class="heart" (click)="likePost()" />
        </ng-template>
      </div>
      <div class="row space">&nbsp;{{ tweet.liked_by_user_ids.length }}</div>
      <div class="row">
        <img src="assets/images/avatar/message.svg" alt="image" class="heart" (click)="commentPost()" />
      </div>
      <div class="row space">&nbsp;{{ tweet.number_comments }}</div>
    </div>
  </div>
</div>
