<mat-card class="align-item-center login-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title> Welcome to Twitter </mat-card-title>
      <mat-card-subtitle class="text-muted">
        Powered by Rower Pangers
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class="d-flex align-item-center">
      <form [formGroup]="registerForm">
        <mat-form-field>
          <input
            matInput
            formControlName="username"
            required
            placeholder="Username"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field>
            <input
              matInput
              formControlName="firstName"
              required
              placeholder="First Name"
              autocomplete="off"
            />
          </mat-form-field>
        
          <mat-form-field>
            <input
              matInput
              formControlName="lastName"
              required
              placeholder="Last Name"
              autocomplete="off"
            />
          </mat-form-field>
        
          <mat-form-field>
            <input
              matInput
              formControlName="email"
              required
              placeholder="Email"
              autocomplete="off"
            />
          </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            formControlName="password"
            required
            placeholder="Password"
            autocomplete="off"
            type="password"
          />
        </mat-form-field>
        <button mat-button class="w-100" (click)="register()">
            <span class="h2">Register</span>
          </button>
      </form>
    </mat-card-content>
  </mat-card>
